@import 'bootstrap';
@import 'bootstrap/theme';

// .all-events {
//   float: left;
//   border: 1px solid black;
//   width: 70%;
// }
// body {
//   background-color: lighten(#464646, 50%);
// }
.event-form {
  background-color: lighten(#1E90FF, 20%);
}
.events-area {
  padding-top: 0px;
}
// .events-title {
//   border: 1px solid red;
//   font-size: 24px;
//   padding: 40px;
//   // margin: 10px;
// }
// .network {
//   float: right;
//   border: 1px solid black;
//   margin-top: 50px;
//   height: 500px;
// }
// .events-header {
//   text-align: center;
// }


.welcome {
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: white;
  padding: 100px 0;
  margin-top: 0;
  background: url(https://i.imgur.com/LfXhmoT.png) no-repeat center;
  background-color: #4A93C7;
}
.get-started {
  margin-top: 400px;
}

// .events-container {
//   float: left;
//   width: 70%;
// }
/////////
// // Styling for the navbar
// #mainNav {
//   background-color: $gray-900;
//   .navbar-toggler {
//     font-size: 12px;
//     right: 0;
//     padding: 13px;
//     text-transform: uppercase;
//     color: white;
//     border: 0;
//     background-color: $primary;
//     @include heading-font;
//   }
//   .navbar-brand {
//     color: $primary;
//     @include script-font;
//     &.active,
//     &:active,
//     &:focus,
//     &:hover {
//       color: darken($primary, 10%);
//     }
//   }
//   .navbar-nav {
//     .nav-item {
//       .nav-link {
//         font-size: 90%;
//         font-weight: 400;
//         padding: 0.75em 0;
//         letter-spacing: 1px;
//         color: white;
//         @include heading-font;
//         &.active,
//         &:hover {
//           color: $primary;
//         }
//       }
//     }
//   }
// }
// @media(min-width:992px) {
//   #mainNav {
//     padding-top: 25px;
//     padding-bottom: 25px;
//     -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
//     -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
//     transition: padding-top 0.3s, padding-bottom 0.3s;
//     border: none;
//     background-color: transparent;
//     .navbar-brand {
//       font-size: 1.75em;
//       -webkit-transition: all 0.3s;
//       -moz-transition: all 0.3s;
//       transition: all 0.3s;
//     }
//     .navbar-nav {
//       .nav-item {
//         .nav-link {
//           padding: 1.1em 1em !important;
//         }
//       }
//     }
//     &.navbar-shrink {
//       padding-top: 0;
//       padding-bottom: 0;
//       background-color: $gray-900;
//       .navbar-brand {
//         font-size: 1.25em;
//         padding: 12px 0;
//       }
//     }
//   }
// }
// //////

header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  // @include background-cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      // @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      // @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 60px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        // @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        // @include heading-font;
      }
    }
  }
}
.container-fluid {
  padding: 0;
}




//////////

body {
  // overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.75; }

a {
  color: #C5CFEF; }
  a:hover {
    color: #C5CFEF; }

.text-primary {
  color: #C5CFEF !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  section {
    padding: 50px 0; } }

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

.btn-primary {
  background-color: #C5CFEF;
  border-color: #C5CFEF; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #C5CFEF !important;
    border-color: #C5CFEF !important;
    color: white; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }

#mainNav {
  background-color: #212529; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #C5CFEF;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #mainNav .navbar-brand {
    color: #C5CFEF;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #C5CFEF; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #C5CFEF; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;}
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

header.masthead {
  text-align: center;
  color: white;
  // background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

      .service-heading {
        margin: 15px 0;
        text-transform: none;
      }

#why-us {
  background-color: #4A93C7;
  color: white;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
  #why-us .text-header {
    font-size: 36px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #4A93C7;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
#why-us .list-item {
  font-size: 16px;
}
.sign-form {
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  width: 60%;
  text-align: center;
}
.forms {
  padding: 100px 20px 20px 20px;
  margin: 0 auto;
  width: 60%;
}
.why-us {
  margin: 0 auto;

}
.list-item {
  text-align: left;
}
.logo {
  height: 50px;
  width: 50px;
}
.text-header {
  padding-bottom: 20px;
}
.event-details {
  margin: 100px 0 0 100px;
  float: left;
  width: 40%;
  text-align: left;
}
.edit-details {
  // clear: both;
  float: right;
  width: 40%;
  margin: 100px 50px 0 0;
  padding: 30px;
}
li {
  list-style-type: none;
}
.navbar {
          background-color: #3B5998;
          // position: fixed;
        }
