{{event-details event=model deleteEvent='deleteEvent'}}

{{edit-form event=model editEvent='editEvent'}}

{{#link-to 'events'}}Go to all events {{/link-to}}

{{!-- <div class='col-sm-3 network'>
  <p>Riders</p>
  {{event-riders rider=model}}
</div> --}}
