<h2>Pool</h2>

{{#link-to 'events/new'}}Create Event{{/link-to}}

<ul>

{{#each model as |event|}}

  <li>{{#link-to 'event' event}} {{event.title}} {{/link-to}}</li>

{{/each}}

</ul>


{{#link-to "index"}} Go Home {{/link-to}}
