
<header class="welcome">
    <div class="container">
      <div class="intro-text">
        {{!-- <div class="intro-lead-in"><h1>POOL</h1></div> --}}
        {{!-- <div class="intro-heading text-uppercase">Rides for your kids from your circle of friends.</div> --}}
        {{event-riders}}
      </div>
    </div>
  </header>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h1 class="text-header">WHAT WE DO</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"><img src="https://git.generalassemb.ly/storage/user/7536/files/538b8310-c2fa-11e7-9302-387e2c825543"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Create Friend Circle</h4>
            <p class="text-muted">Create groups of your trusted friend circles: sports teams, school, activities, etc.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"><img src="https://git.generalassemb.ly/storage/user/7536/files/4e86c086-c300-11e7-9d37-b353c3e76958"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Request a Ride & Track It</h4>
            <p class="text-muted">Request a ride for your kid from one of your friends in the area. Track it here (COMING SOON)</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"><img src="https://git.generalassemb.ly/storage/user/7536/files/736bd080-c300-11e7-9273-1eaae3f24f3e"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Reward Your Friend</h4>
            <p class="text-muted">Thank your friend for helping out with a gift care from one of our affiliates: Amazon, Starbucks, or Target (COMING SOON)</p>
          </div>
        </div>
      </div>
    </section>
    <section id="why-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
          </div>
        </div>
          <h1 class='text-header'>HOW WE'RE DIFFERENT</h1>
        <div class="row text-center list-item">
      <li class='list-item'>Drivers are your trusted friends, not strangers.</li>
      <li class='list-item'>You can request rides in advance or last minute.</li>
      <li class='list-item'>You get instant access to your circle of friends.</li>
      <li class='list-item'>You can thank your friends with a $5, $10, or $25 gift card.</li>
      <li class='list-item'>We offer group or one-on-one texting.</li>
      <li class='list-item'>Get notifications for confirmed trips and tracking.</li>
      <li class='list-item'>Free registration!</li>
    </div>
  </div>
    </section>
    <footer>
      <p>Created By Charlotte Casner 2017</p>
    </footer>
